@media (max-width: 1025px) {
    body {
        padding: 0;
    }

    .header__nav {
        gap: 2rem;
    }

    .header__nav-btn {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {

    .header {
        padding: 2rem 2rem;
    }

    .header__title {
        flex: 1;

        text-align: center;
    }

    .header__nav {
        display: none;
    }
}

@media (max-width: 320px) {
    
}